# Copy this to env.sh (which is in .gitignore) and then edit with
# values from

export OMNIAUTH_PROVIDER_KEY="your_key"
export OMNIAUTH_PROVIDER_SECRET="your_secret"
export MACHINE_OAUTH_TOKEN="personal_access_token_machine_user_with_owner"
export ADMIN_LOGINS="pconrad,ncbrown1"
export GITHUB_ORG="ucsb-cs-test-org-1"
